# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Data
data/

# IDE
.vscode/
.idea/

# Images / outputs
*.png
*.jpg

# Triton cache
.triton/

.cuTAGI/

# Logs
run_logs/
run_logs_adam/
run_logs_adam_resnet/
run_logs_cifar100/
run_logs_adam_cifar100/
run_logs_nadam_cifar100/
run_logs_imagenet/
run_logs_nadam/
run_logs_shared_var/
run_logs_shared_var_cifar100/

